[submodule "frontend"]
        path = frontend
        url = https://github.com/Evomatic/flask-blog-app.git
[submodule "backend"]
	path = backend
	url = https://github.com/Evomatic/flask-blog-app.git
